asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.8
Django==6.0.6
django-cors-headers==4.9.0
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
idna==3.18
packaging==26.0
PyMySQL==1.2.0
requests==2.34.2
setuptools==82.0.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
urllib3==2.7.0
wheel==0.47.0
